<div *ngIf="!isSignedIn" class="container-fluid" >
    <div>
        <div class="col-md-3" *ngFor="let activity of activityList">
            <div class="card" *ngIf="activity.category=='Tutorial'">
                <div class="heading"><b>Title: </b>{{activity.title}}</div>
                <div><b>Description</b></div>
                <div class="sub-heading">{{activity.description}}</div>
                <div class="sub-heading"><button><a href="{{activity.file}}">Download File</a></button></div>
                <div class="sub-heading">{{activity.date}}</div>
            </div>
        </div>
    </div>
</div>
